<!-- product_create.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>새 상품 등록</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">등록</button>
  </form>
{% endblock %}



{% comment %} {% extends 'base.html' %}

{% csrf_token %}
{% block title %}
    상품등록
{% endblock %}
{% block content %}
    <div class="container">
        <div class="wrap">
            <h2 class="title-center"> 상품등록 </h2>
            <form class="form-area">
                <div class="form-group mt-2 mb-2">
                    <label for="code">상품 코드</label>
                    <input type="text" class="form-control" id="code" name="code">
                </div>
                <div class="form-group mt-2 mb-2">
                    <label for="name">상품 이름</label>
                    <input type="text" class="form-control" id="nam" name="nam">
                </div>
                <div class="form-group mt-2 mb-2">
                    <label for="description">상품 설명</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>
                <div class="form-group mt-2 mb-2">
                    <label for="price">상품 가격</label>
                    <input type="text" class="form-control" id="price" name="price">
                </div>
                <div class="form-group mt-2 mb-2">
                    <label for="sizes">사이즈</label>
                    <input type="text" class="form-control" id="sizes" name="sizes">
                </div>
                <hr>
                <div style="float: right">
                    <button type="submit" class="btn btn-primary">등록</button>
                    <a href="/signin" class="btn btn-secondary">로그인 페이지로</a>
                </div>
            </form>

        </div>
    </div>
{% endblock %} {% endcomment %}